@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/bg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Makes the background fixed */
  position: relative;
  background-repeat: no-repeat; /* Corrected the syntax for no-repeat */
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust the transparency */
  z-index: -1;
}

